#fb-root { position:fixed; top:0px; }
body {
	/*font-size:62.5%;*/
}
.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.ui-size-s .ui-mason-3 .ui-col-a,
.ui-size-s .ui-mason-3 .ui-col-b,
.ui-size-s .ui-mason-3 .ui-col-c{
	width:100%;
}
.ui-size-m .ui-mason-3 .ui-col-a{
	width:50%;
}
.ui-size-m .ui-mason-3 .ui-col-b,
.ui-size-m .ui-mason-3 .ui-col-c{
	width:100%;
}
.ui-size-l .ui-mason-3 .ui-col-a{
	width:33.33%;
}
.ui-size-l .ui-mason-3 .ui-col-b{
	width:66.66%;
}
.ui-size-l .ui-mason-3 .ui-col-c{
	width:100%;
}
.ui-size-s .ui-mason-2 .ui-col-a,
.ui-size-s .ui-mason-2 .ui-col-b{
	width:100%;
}
.ui-size-m .ui-mason-2 .ui-col-a,
.ui-size-l .ui-mason-2 .ui-col-a{
	width:50%;
}
.ui-size-m .ui-mason-2 .ui-col-b,
.ui-size-l .ui-mason-2 .ui-col-b{
	width:100%;
}
